<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<!-- les css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{css/jquery.dataTables.min.css}" />

<!-- les scripts -->
<script type="text/javascript" th:src="@{/js/tether.js}"></script>
<script type="text/javascript" th:src="@{/js/tether.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.dataTables.min.js}"></script>

<!-- Début de la page -->
<title>Login</title>
</head>
<body>

	<!-- MENU -->
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Accueil</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Demande</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Etudiants</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Professeurs</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Administrateurs</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/batiment}">Bâtiments</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Cours</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Absences</a></li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRATOR')"><a
					class="nav-link" href="#">Emploi du temps</a></li>
			</ul>
			<form class="form-inline my-2 my-md-0" th:action="@{/logout}">
				<button class="btn btn-primary my-2 my-sm-0" type="submit">Se
					déconnecter</button>
			</form>
		</div>
	</nav>

</body>
</html>

