<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />


<!-- les css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-select.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-select.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fullcalendar.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/fullcalendar.print.min.css}" media="print" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

<!-- les scripts -->
<script type="text/javascript" th:src="@{/js/tether.js}"></script>
<script type="text/javascript" th:src="@{/js/tether.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/seance.js}"></script>
<script type="text/javascript" th:src="@{/js/etudiant.js}"></script>
<script type="text/javascript" th:src="@{/js/module.js}"></script>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/responsable.js}"></script>
<script type="text/javascript" th:src="@{/js/batiment.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/js/fullcalendar.min.js}"></script>
<script type="text/javascript" th:src="@{/js/locale-all.js}"></script>



<!-- Début de la page -->
<title>Login</title>
</head>
<body>

	<!-- MENU -->
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Accueil</a></li>

				<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROF')"
					class="nav-item"><a class="nav-link" href="#">Demande</a></li>

				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
					class="nav-link" th:href="@{/students}">Etudiants</a></li>

				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
					class="nav-link" th:href="@{/professors}">Professeurs</a></li>

				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
					class="nav-link" th:href="@{/admins}">Administrateurs</a></li>

				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
					class="nav-link" th:href="@{/buildings}">Bâtiments</a></li>

				<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
					class="nav-link" th:href="@{/courses}">Cours</a></li>

				<li sec:authorize="hasAnyRole('ROLE_STUDENT', 'ROLE_ADMIN')"
					class="nav-item"><a class="nav-link" th:href="@{/presences}">Absences</a></li>

				<li
					sec:authorize="hasAnyRole('ROLE_STUDENT', 'ROLE_ADMIN', 'ROLE_PROF')"
					class="nav-item"><a class="nav-link" th:href="@{/sessions}">Séances</a></li>
			</ul>
			<form class="form-inline my-2 my-md-0" th:action="@{/logout}">
				<button class="btn btn-primary my-2 my-sm-0" type="submit">Se
					déconnecter</button>
			</form>
		</div>
	</nav>

</body>
</html>

