<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<!-- Contenu de la page -->
<title th:utext="${title}">Login</title>
</head>
<body>
	<th:block th:include="/navbar"></th:block>
	<div class="container">
		<h1>Les absences</h1>
		<div class="row">
			<div class="col-sm-12">
				<table id="tablePresence" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Professeur</th>
							<th>Module</th>
							<th>Date</th>
							<th>Début</th>
							<th>Fin</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="absence : ${absences}">
							<td
								th:text="${#strings.toUpperCase(absence.seance.responsable.nom)}"></td>
							<td th:text="${absence.seance.module.nom}"></td>
							<td
								th:text="${#dates.format(absence.seance.dateSeance, 'dd-mm-yyyy')}"></td>
							<td th:text="${absence.seance.heureDeb}"></td>
							<td th:text="${absence.seance.heureFin}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">© Gestion des absences 2017-2018</span>
		</div>
	</footer>
</body>
</html>
